body {
  margin: 0;
  padding: 0;
  background-color: #F9F6EE;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: monospace;
}
.grid-container {
  width: 640px;
  height: 640px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 10px;
}

.square {
  background: white;
  box-sizing: border-box;
}
.grid-size-button{
    margin: 0;
    padding: 1em;
    background-color: #F9F6EE;
    font-family: monospace;
    cursor: pointer;
}